<div class="w-full rounded-lg bg-white p-6 shadow-lg">
  <div class="mt-4">
    <label for="Date" class="mt-4 block">
    <span class="text-sm font-medium text-gray-700">
        Date:
      </span>
      <input type="text" [(ngModel)]="editableTourLog.date" id="Date" class="mt-0.5 w-full rounded border-gray-300 shadow-sm sm:text-sm" >
    </label>

    <label for="Distance" class="mt-4 block">
    <span class="text-sm font-medium text-gray-700">
        Distance:
      </span>
      <input type="text" [(ngModel)]="editableTourLog.distance" id="Distance" class="mt-0.5 w-full rounded border-gray-300 shadow-sm sm:text-sm" >
    </label>

    <label for="Duration" class="mt-4 block">
    <span class="text-sm font-medium text-gray-700">
        Duration:
      </span>
      <input type="text" [(ngModel)]="editableTourLog.duration" id="Duration" class="mt-0.5 w-full rounded border-gray-300 shadow-sm sm:text-sm" >
    </label>

    <label for="Difficulty" class="mt-4 block">
    <span class="text-sm font-medium text-gray-700">
        Difficulty:
      </span>
      <input type="text" [(ngModel)]="editableTourLog.difficulty" id="Difficulty" class="mt-0.5 w-full rounded border-gray-300 shadow-sm sm:text-sm" >
    </label>

    <div class="mt-4 flex items-center gap-3">
      <span class="text-sm font-medium text-gray-700">
        Rating:
      </span>
      <div class="inline-flex">
        @for (rating of ratingOptions; track rating; let isFirst = $first; let isLast = $last) {
          <button
            (click)="selectRating(rating)"
            type="button"
            [ngClass]="{
            'rounded-s-sm': isFirst,
            'rounded-e-sm': isLast,
            '-ms-px': !isFirst,
            'bg-blue-50 text-blue-500 z-10 ring-2 ring-blue-500 border-blue-500': editableTourLog.rating === rating,
            'bg-white text-gray-500 border-gray-300 hover:bg-gray-50 hover:text-gray-900': editableTourLog.rating !== rating
          }"
            class="border px-3 py-2 font-medium transition-colors focus:outline-none focus:z-10 focus:ring-2 focus:ring-blue-500 focus:ring-offset-white disabled:pointer-events-auto disabled:opacity-50"
          >
            {{ rating }}
          </button>
        }
      </div>
    </div>

    <label for="Comment" class="mt-4 block">
    <span class="text-sm font-medium text-gray-700">
        Comment:
      </span>
      <textarea
        [(ngModel)]="editableTourLog.comment"
        id="Comment"
        rows="4"
        class="mt-0.5 w-full rounded border-gray-300 shadow-sm sm:text-sm" ></textarea>
    </label>

  </div>

  <footer class="mt-6 flex justify-between items-center w-full">
    <div>
      <button (click)="clickDelete()" type="button" class="rounded bg-gray-100 px-4 py-2 text-sm font-medium text-red-700 transition-colors hover:bg-gray-200">
        Delete
      </button>
    </div>
    <div class="flex gap-2">
      <button (click)="clickCancel()" type="button" class="rounded bg-gray-100 px-4 py-2 text-sm font-medium text-gray-700 transition-colors hover:bg-gray-200">
        Cancel
      </button>
      <button (click)="clickDone()" type="button" class="rounded bg-blue-500 px-4 py-2 text-sm font-medium text-white transition-colors hover:bg-blue-700">
        Done
      </button>
    </div>
  </footer>
</div>
