@if (activeTour() !== null) {
  <div class="flex flex-col h-full w-full p-2">

    <!--<div class="mb-2">
      <input
        #searchBox
        (input)="onSearch(searchBox.value)"
        type="text"
        placeholder="Search for logs..."
        class="w-full px-2 py-1 border-b-2 border-slate-200 bg-transparent focus:outline-none focus:border-blue-500 transition-colors text-slate-700"
      >
    </div>-->

    <div class="flex-1 overflow-y-auto mb-2">
      <app-tour-log-item [inputTourLog]="this.activeTourLog"></app-tour-log-item>

    </div>

    <div class="mt-auto pt-2 flex justify-center w-full">

      <div class="flex flex-row border-2 border-slate-800 rounded-md overflow-hidden w-fit">
        @if (hasPrevious) {
          <button
            (click)="previousGroup()"
            class="px-3 py-1.5 border-r-2 border-slate-800 last-of-type:border-r-0 font-bold text-slate-600 hover:bg-slate-100 transition-colors focus:outline-none">
            <
          </button>
        }

        @for (index of visibleTourLogArray; track index) {
          <button
            (dblclick)="openModal(index)"
            (click)="selectTourLog(index)"
            [ngClass]="{
        'bg-blue-500 text-white': selectedTourLogIndex === index + this.displayAmount *  this.currentPage(),
        'text-slate-700 hover:bg-slate-100': selectedTourLogIndex !== index + this.displayAmount *  this.currentPage()
      }"
            class="px-3 py-1.5 border-r-2 border-slate-800 last-of-type:border-r-0 font-semibold transition-colors focus:outline-none shrink-0">
            {{ index }}
          </button>
        }

        <button
          (dblclick)="openModal(null)"
          class="px-3 py-1.5 border-r-2 border-slate-800 last-of-type:border-r-0 font-bold text-slate-600 hover:bg-slate-100 transition-colors focus:outline-none">
          +
        </button>

        @if (hasNext) {
          <button
            (click)="nextGroup()"
            class="px-3 py-1.5 border-r-2 border-slate-800 last-of-type:border-r-0 font-bold text-slate-600 hover:bg-slate-100 transition-colors focus:outline-none">
            >
          </button>
        }
      </div>
    </div>
  </div>
} @else {
  <div class="w-full h-full flex flex-col items-center justify-center gap-2">
    <p class="text-gray-600 text-center">Select a tour to see details</p>
  </div>
}

@if (modalTourLog) {
  <div
    (click)="closeModal()"
    class="fixed inset-0 bg-black/40 backdrop-blur-sm z-[1000] flex items-center justify-center p-4">

    <div
      (click)="$event.stopPropagation()"
      class="w-full max-w-xl relative z-[1001]">

      <app-tour-log-modal
        [tourLog]="modalTourLog"
        (onDelete)="deleteData($event)"
        (onCancel)="closeModal()"
        (onSave)="saveTourChanges($event)">
      </app-tour-log-modal>

    </div>
  </div>
}
